@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");
body, html {
  height: 100%;
}

body {
  color: #FFA7A7;
  background-color: white;
  font-family: "Libre Caslon Text", serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-weight: 400;
  font-family: "Libre Caslon Display";
  display: flex;
  align-items: center;
}

h1 {
  font-size: 6vh;
}
h1 img {
  height: 3vh;
  margin-right: 1.5vh;
}

h2 {
  font-size: 4vh;
}
h2 img {
  height: 2vh;
  margin-right: 1vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2vh;
}
header .symbol {
  height: 10vh;
}
header h1 {
  margin: 0;
}

main {
  position: relative;
  z-index: 1;
  margin-top: calc(100vh + 128px);
  min-height: 100%;
  padding: 24px;
}
main > section {
  max-width: 1000px;
  margin: auto;
  padding: 12px 0;
}

footer {
  display: flex;
  font-size: 14px;
  padding: 128px 24px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
footer .text-logo {
  height: 32px;
}
footer p img {
  height: 13px;
  margin: 0 4px;
}

::-moz-selection {
  background-color: #FFA7A7;
  color: white;
}

::selection {
  background-color: #FFA7A7;
  color: white;
}

a {
  color: inherit;
  transition: 0.5s;
}
a:hover {
  color: white;
  background-color: #FFA7A7;
}
a:active {
  transform: scale(0.75);
  transition: 0.1s;
}

p {
  line-height: 1.5;
}