@media (pointer:fine) {
    * {
        cursor: none;
    }

    .tarocursor {
        position: fixed;
        top: -24px;
        left: -24px;
        height: 24px;
        width: 24px;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        mix-blend-mode: difference;
        z-index: 999999999;
        opacity: .1;
    }

    .tarocursor > div {
        height: 24px;
        width: 24px;
        background-color: #005858;
        border-radius: 12px;
        transition: transform 0.5s, width 0.2s, height 0.2s;
    }

    .tarocursor.down > div {
        transform: scale(0.75);
        transition: transform 0.1s, width 0.2s, height 0.2s;
    }

    .tarocursor.link > div {
        transform: scale(0);
        transition: transform 0.1s, width 0.2s, height 0.2s;
    }

    .tarocursor.text > div {
        height: 32px;
        width: 4px;
    }
}