/* written by tarocafé for tauten.net. */

/* BOLD 700 */
@font-face {
    font-family: "IBM Plex Mono";
    src: url(IBMPlexMono-Bold.otf);
    font-weight: 700;
}

/* SEMI-BOLD 600 */
@font-face {
    font-family: "IBM Plex Mono";
    src: url(IBMPlexMono-SemiBold.otf);
    font-weight: 600;
}

/* MEDIUM 500 */
@font-face {
    font-family: "IBM Plex Mono";
    src: url(IBMPlexMono-Medium.otf);
    font-weight: 500;
}

/* REGULAR 400 */
@font-face {
    font-family: "IBM Plex Mono";
    src: url(IBMPlexMono-Regular.otf);
}

/* LIGHT 300 */
@font-face {
    font-family: "IBM Plex Mono";
    src: url(IBMPlexMono-dark.otf);
    font-weight: 300;
}

/* EXTRALIGHT 200 */
@font-face {
    font-family: "IBM Plex Mono";
    src: url(IBMPlexMono-ExtraLight.otf);
    font-weight: 200;
}

/* THIN(k) 100 */
@font-face {
    font-family: "IBM Plex Mono";
    src: url(IBMPlexMono-Thin.otf);
    font-weight: 100;
}